body {
    background-color:black;   
    font-family: "Nunito", sans-serif;

   }
   
  
   #mainNavbar {
       font-size: 1.5rem;
       font-weight: 100; 
       
   }
   
   #mainNavbar .nav-link {
       color: white;
   }


   #mainNavbar .nav-link:hover {
       color: rgb(234, 183, 28);
   }
   
   #mainNavbar .navbar-brand {
       color: rgb(234, 183, 28);
       font-size: 2rem;
       padding-bottom: 0%;
       margin-top: 0%;
   }

   #headingGroup {
       color: white;
   }
   
   #headingGroup span {
       color: rgb(234, 183, 28);
   }
   
   #headingGroup h1 {
       font-weight: 100;
       font-size: 4.5rem;
   }
   
   .navbar.scrolled {
       background: grey;
       transition: background 500ms;
   }
   
   
   @media (max-width: 1200px){
       #headingGroup h1 {
           font-weight: 100;
           font-size:3rem;
       }
       
   }

#pb h2 {
    color: white;
}
#pb h2:hover {
    color:  rgb(234, 183, 28);
}
   
.lead {
    color: white;
}
.lead span {
    color: rgb(234, 183, 28);
}
h1 span {
    color: rgb(234, 183, 28);
}

#row h1 {
    font-size: 4.5rem;
}

#container {
    padding: 20%;
    justify-content: center;
}

.fas fa-chevron-circle-down {
    color: white;
}